.carousel-item img {
  object-fit: cover;
  object-position: center;
  max-height: 70vh;
  overflow: hidden;
}

// .carousel-indicators li {
//   // note: this makes the hitbox much smaller (matches visible area), need to fix?
//   background-color: inherit;
//   backdrop-filter: invert(100%);
//   border: none;
//   border-radius: 1.5px;
//   margin-bottom: 10px;
// }

.carousel-indicators {
  color: #fff;
  mix-blend-mode: difference;
}

.carousel-indicators li {
  text-indent: 0;
  height: 25px;
  border: none;
  background-color: inherit;
  h5 {
    color: #fff;
    mix-blend-mode: difference;
  }
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  mix-blend-mode: difference;
}
