{%- assign images = include.image | strip | newline_to_br | split: '<br />' -%}
{%- assign id = include.alt | default: include.caption | remove: " " -%}

<figure class="figure w-100" data-toggle="modal" data-target="#figure-modal-{{ id }}">
  {%- if images.size > 1 -%}
    {% include /elements/carousel.html images=include.image id=id %}
  {%- else -%}
    <img src="{{ images[0] | relative_url }}" class="figure-img img-fluid rounded" alt="{{ include.alt | default: include.caption }}">
  {%- endif -%}
  {%- if include.caption -%}
    <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
  {%- endif -%}
</figure>

<div class="figure-modal modal fade" id="figure-modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        {%- if include.caption or include.alt -%}
          <h5 class="modal-title w-100" id="exampleModalLabel">{{ include.alt | default: include.caption }}</h5>
        {%- endif -%}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {%- if images.size > 1 -%}
          {% include /elements/carousel.html %}
        {%- else -%}
          <img src="{{ images[0] | relative_url }}" class="figure-img img-fluid rounded" alt="{{ include.alt | default: include.caption }}">
        {%- endif -%}
      </div>
      <!-- <div class="modal-footer justify-content-center">
        {%- if include.caption -%}
          <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
        {%- endif -%}
      </div> -->
    </div>
  </div>
</div>

