<figure class="figure w-100">
  {%- if include.id -%}
    <div class="video" preload="auto" muted>
    {%- case include.provider -%}
    {%- when "youtube" -%}
      <iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen></iframe>
    {%- when "google drive" -%}
      <iframe src="https://drive.google.com/file/d/{{ include.id }}/preview" frameborder="0" allowfullscreen></iframe>
    {%- endcase -%}
    </div>
  {%- else -%}
    <video controls>
      <source src="{{ include.src }}">
    </video>
  {%- endif -%}
  {%- if include.caption -%}
    <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
  {%- endif -%}
</figure>
