<figure class="figure w-100">
  {%- if include.id -%}
    {%- capture src -%}
      {%- case include.provider -%}
        {%- when "youtube" -%}
          https://www.youtube.com/embed/{{ include.id }}
        {%- when "google drive" -%}
          https://drive.google.com/file/d/{{ include.id }}/preview
      {%- endcase -%}
    {%- endcapture -%}
    <div class="video" preload="auto" muted>
      <iframe src="{{ src }}" frameborder="0" allowfullscreen></iframe>
    </div>
  {%- else -%}
    <video controls>
      <source src="{{ include.src }}">
    </video>
  {%- endif -%}
  {%- if include.caption -%}
    <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
  {%- endif -%}
</figure>
